h1 {color: white;
background-color: #a8479d;
text-align: left;
}

body {background-image: url(https://cdn.tmobile.com/content/dam/t-mobile/ntm/generic/pattern-abstract/full/bg-heroFull-multiple_phones_aerial.desktop.jpg);
background-position: center;
color: #a86285;
border-style: dotted;
border-color: white;
border-width: 5px}

p {font-size: 25px;
color: black}